# Ignore everything by default
*

# But DO descend into folders we care about
!*/
!.gitignore
!core/**
!ui/**
!utils/**
!world/**
!config/**
!assets/**
!maps/**

# Keep root files
!index.html
!main.js

# Ignore editor/system files
.vscode/
.DS_Store
Thumbs.db